---
import { t } from 'i18next'
import Divider from './Divider.astro'
import GithubIcon from './icons/Github.astro'
import LinkedinIcon from './icons/Linkedin.astro'

const socials = [
  { icon: GithubIcon, href: 'https://github.com/jhormanrus' },
  { icon: LinkedinIcon, href: 'https://linkedin.com/in/jhormanrus/' }
]
---

<footer class="w:full">
  <Divider />
  <div class="flex ai:center f:12 max-w:screen-sm mx:auto px:20 px:24@xs px:32@md py:12 w:full">
    <div class="flex">
      <span>{t('developedWithLove')} <u>Jhorman Rus</u></span>
    </div>
    <div class="flex ai:center gap:12 ml:auto">
      {socials.map(item => (
        <a href={item.href} target="_blank" rel="noreferrer">
          <item.icon class="h:20" />
        </a>
      ))}
    </div>
  </div>
</footer>
