---
import { t } from 'i18next'
import { Trans } from 'astro-i18next/components'

const response = await fetch('https://api.github.com/users/jhormanrus')
const myGithub = await response.json()
---

<header id="hero" class="max-w-screen-md flex flex-col sm:flex-row items-center gap-6 z-30 px-2 pt-4 pb-2 sm:px-6 sm:pt-8 sm:pb-4 lg:px-8 lg:pt-10 lg:pb-5">
  <div>
    <div class='invisible h-64 w-64 relative before:absolute before:inset-2 before:rounded-[59%_41%_81%_19%/70%_22%_78%_30%] before:bg-purple/20'>
      <img class='w-full h-full rounded-[37%_63%_55%_45%/30%_41%_59%_70%] grayscale' src="/img/profile.jfif" alt="profile" />
    </div>
  </div>
  <div class='flex flex-col space-y-5'>
    <div class='space-y-1'>
      <h1 class='text-3xl font-semibold'>Jhorman Ruswel Tito</h1>
      <h2 class='text-xl font-bold text-gray'>{t('webDeveloper')}</h2>
    </div>
    <div class='space-y-2'>
      <p>
        {t('myDescription')}
        <!-- <b><Typewriter words={t('iLike', { returnObjects: true })} typeSpeed={40} deleteSpeed={20} loop={false} cursorStyle={'_'} cursor={true} /></b> -->
      </p>
      <p>
        <Trans i18nKey="iInviteYou">
          <a href='/blog' class='hover:underline decoration-2 hover:decoration-navy font-bold' />
          <a href='/#projects' class='hover:underline decoration-2 hover:decoration-navy font-bold' />
          <a href='/#me' class='hover:underline decoration-2 hover:decoration-navy font-bold' />
        </Trans>
      </p>
    </div>
    <div class='flex gap-4 items-center'>
      <a href="https://linkedin.com/in/jhormanrus/" target="_blank" rel="noreferrer">
        <img class="w-5 h-5 relative" src="/svg/linkedin.svg" alt="linkedin" />
      </a>
      <a class="text-gray flex items-center gap-2 hover:underline" href={myGithub?.html_url} target="_blank" rel="noreferrer">
        <img class="w-5 h-5 relative dark:invert" src="/svg/github.svg" alt="github" />
        {t('followersOnGithub', { followers: myGithub?.followers })}
      </a>
    </div>
  </div>
</header>
