---
import { t } from 'i18next'
import { Trans } from 'astro-i18next/components'

const response = await fetch('https://api.github.com/users/jhormanrus')
const myGithub = await response.json()
---

<header id="hero" class="max-w-screen-md flex flex-col sm:flex-row items-center gap-14 z-30 px-2 pt-4 pb-2 sm:px-6 sm:pt-8 sm:pb-4 lg:px-8 lg:pt-10 lg:pb-5">
  <div class="w-48 h-48 flex-shrink-0"></div>
  <div class='flex flex-col gap-3'>
    <div>
      <h1 class='text-2xl font-semibold'>{t('hiIm')} Jhorman</h1>
      <h2 class='text-lg font-bold text-gray'>{t('webDeveloper')}</h2>
    </div>
    <p class="mb-1">
      {t('welcome')}<br />
      <Trans i18nKey="myDescription">
        <a href='/#projects' class='hover:underline decoration-2 hover:decoration-navy font-bold' />
        <a href='/#blog' class='hover:underline decoration-2 hover:decoration-navy font-bold' />
      </Trans>
    </p>
    <div class='flex gap-4 items-center'>
      <a href="https://linkedin.com/in/jhormanrus/" target="_blank" rel="noreferrer">
        <img class="w-5 h-5 relative" src="/svg/linkedin.svg" alt="linkedin" />
      </a>
      <a class="text-gray flex items-center gap-2 hover:underline" href={myGithub?.html_url} target="_blank" rel="noreferrer">
        <img class="w-5 h-5 relative dark:invert" src="/svg/github.svg" alt="github" />
        {t('followersOnGithub', { followers: myGithub?.followers })}
      </a>
    </div>
  </div>
</header>
