---
import { t } from 'i18next'
import FileIcon from './icons/File.astro'
import GithubIcon from './icons/Github.astro'
import LinkedinIcon from './icons/Linkedin.astro'

const cvUrl = 'https://docs.google.com/document/d/1sSCi1jCz8tC3mr9U_BRd3inHQOpgRf9hKX_WoCModu4'

const response = await fetch('https://api.github.com/users/jhormanrus')
const myGithub = await response.json()
---

<header id="hero" class="flex jc:center bg:white/.2 bg:zinc/.3@dark w:full">
  <div class="flex gap:40 max-w:screen-sm py:32 py:80@md px:20 px:24@xs px:32@md z:1">
    <div class="flex-shrink:0 h:200 w:200"></div>
    <div class='flex flex:col gap:20'>
      <div class="flex flex:col gap:6">
        <h1 class='f:40 f:semibold'>{t('hiIm')} Jhorman</h1>
        <h2 class='f:26 f:bold f:gray'>{t('webDeveloper')}</h2>
      </div>
      <p id="header-description" class="f:20 lh:1.4">
        {t('welcome')}
        <br />
        {t('myDescription')}
      </p>
      <div class="flex@xs hidden flex-shrink:0 gap:20 mt:4 gap:6>a h:24_a>svg">
        <a class="hyperlink" href={cvUrl} target="_blank" rel="noreferrer">
          <FileIcon />
          {t('myCv')}
        </a>
        <a class="hyperlink" href="https://linkedin.com/in/jhormanrus/" target="_blank" rel="noreferrer">
          <LinkedinIcon class="p:2" />
          Linkedin
        </a>
        <a class="hyperlink" href={myGithub?.html_url} target="_blank" rel="noreferrer">
          <GithubIcon />
          {t('followersOnGithub', { followers: myGithub?.followers })}
        </a>
      </div>
    </div>
  </div>
</header>

<style>
.hyperlink {
  color: gray;
  display: flex;
  align-items: center;
}
.hyperlink:hover {
  text-decoration: underline;
}
header {
  animation: background-up linear both;
  animation-timeline: scroll();
  animation-range: 0 var(--nav-offset-top);
}
header > div {
  animation: opacity-down linear both;
  animation-timeline: scroll();
  animation-range: 20px calc(var(--nav-offset-top) - 60px);
}
</style>
