---
import i18next, { t } from 'i18next'
import { Trans } from 'astro-i18next/components'
---

<section id="me" class="space-y-9">
  <div class="space-y-3">
    <h2 class="text-2xl font-bold">{t('+aboutMe')}</h2>
    <p>{t('aboutMeDescription')}</p>
  </div>
  <section>
    <ul class="list-disc marker:text-navy pl-5">
      <li><b>{t('email')}</b> - jhormanrus [at] gmail [dot] com</li>
      <li><b>LinkedIn</b> - <a href="https://linkedin.com/in/jhormanrus/" class="hover:underline decoration-2 decoration-navy">Jhorman Ruswel Tito Tito</a></li>
      <li><b>Github</b> - <a href="https://github.com/jhormanrus" class="hover:underline decoration-2 decoration-navy">jhormanrus</a></li>
    </ul>
  </section>
  <section class="space-y-3">
    <h2 class="text-xl font-bold border-b-2 dark:border-neutral-700">{t('experience')}</h2>
    <div>
      <h3 class="text-lg font-bold flex">{t('frontendDeveloper')} <span class="text-gray-400 font-normal ml-auto whitespace-nowrap">{new Date(Date.UTC(2020, 3)).toLocaleString(i18next.language, { month: 'short', year: 'numeric' })} - {new Date(Date.UTC(2021, 12)).toLocaleString(i18next.language, { month: 'short', year: 'numeric' })}</span></h3>
      <p class="text-lg">ADRA PERÚ — {t('limaPe')}</p>
    </div>
    <ul class="list-disc marker:text-navy pl-5">
      <Trans i18nKey="experienceDescription">
        <li></li>
      </Trans>
    </ul>
  </section>
  <section class="space-y-3">
    <h2 class="text-xl font-bold border-b-2 dark:border-neutral-700">{t('skills')}</h2>
    <ul class="list-disc marker:text-navy pl-5">
      <li><b>{t('languages')}</b> - Javascript, Typescript, SQL, HTML5, CSS3, JSON</li>
      <li><b>{t('frontendTechnologies')}</b> - Angular, React, Next.js, Vue.js, npm, Bootstrap 4/5, Tailwind</li>
      <li><b>{t('backendTechnologies')}</b> - Express, NestJS, Node.js</li>
      <li><b>{t('concepts')}</b> - Web Application Development, REST API, Databases <span class="text-gray-400">(PostgreSQL, MySQL, SQLite)</span>, Version Control <span class="text-gray-400">(Git, Github, Gitlab)</span>, Containerization Strategy <span class="text-gray-400">(Docker)</span>, PWA, SSR, SEO, Open Graph protocol</li>
    </ul>
  </section>
  <section class="space-y-3">
    <h2 class="text-xl font-bold border-b-2 dark:border-neutral-700">{t('education')}</h2>
    <div>
      <h3 class="text-lg font-bold flex">{t('degree')} <span class="text-gray-400 font-normal ml-auto whitespace-nowrap">2017 - 2021</span></h3>
      <p class="text-lg">Universidad Peruana Unión — {t('limaPe')}</p>
    </div>
  </section>
  <section class="space-y-3">
    <h2 class="text-xl font-bold border-b-2 dark:border-neutral-700">{t('languages')}</h2>
    <ul class="list-disc marker:text-navy pl-5">
      {(t('languagesList', { returnObjects: true }) as string[]).map((language, index) => (
        <li>{language}</li>
      ))}
    </ul>
  </section>
</section>
