---
import i18next, { t } from 'i18next'
import { Trans } from 'astro-i18next/components'
---

<section id="me" class="flex flex:col gap:36">
  <div class="flex flex:col gap:12">
    <h2 class="f:24 f:bold">{t('+aboutMe')}</h2>
    <p>{t('aboutMeDescription')}</p>
  </div>
  <section>
    <ul class="fg:cyan-50::marker list-style:disc pl:20">
      <li><b>{t('email')}</b> - jhormanrus [at] gmail [dot] com</li>
      <li><b>LinkedIn</b> - <a href="https://linkedin.com/in/jhormanrus/" class="text-decoration:underline|cyan-50|solid|2:hover">Jhorman Ruswel Tito Tito</a></li>
      <li><b>Github</b> - <a href="https://github.com/jhormanrus" class="text-decoration:underline|cyan-50|solid|2:hover">jhormanrus</a></li>
    </ul>
  </section>
  <section class="flex flex:col gap:12">
    <h2 class="b:cyan-50@dark bb:2 f:20 f:bold">{t('experience')}</h2>
    <div>
      <h3 class="flex f:18 f:bold">{t('frontendDeveloper')} <span class="f:gray-50 f:normal ml:auto white-space:nowrap">{new Date(Date.UTC(2020, 3)).toLocaleString(i18next.language, { month: 'short', year: 'numeric' })} - {new Date(Date.UTC(2021, 12)).toLocaleString(i18next.language, { month: 'short', year: 'numeric' })}</span></h3>
      <p class="f:18">ADRA PERÚ — {t('limaPe')}</p>
    </div>
    <ul class="f:cyan-50::marker list-style:disc pl:20">
      <Trans i18nKey="experienceDescription">
        <li></li>
      </Trans>
    </ul>
  </section>
  <section class="flex flex:col gap:12">
    <h2 class="b:cyan-50@dark bb:2 f:20 f:bold">{t('skills')}</h2>
    <ul class="f:cyan-50::marker list-style:disc pl:20">
      <li><b>{t('languages')}</b> - Javascript, Typescript, SQL, HTML5, CSS3, JSON</li>
      <li><b>{t('frontendTechnologies')}</b> - Angular, React, Next.js, Vue.js, npm, Bootstrap 4/5, Tailwind</li>
      <li><b>{t('backendTechnologies')}</b> - Express, NestJS, Node.js</li>
      <li><b>{t('concepts')}</b> - Web Application Development, REST API, Databases <span class="f:gray-50">(PostgreSQL, MySQL, SQLite)</span>, Version Control <span class="f:gray-50">(Git, Github, Gitlab)</span>, Containerization Strategy <span class="f:gray-50">(Docker)</span>, PWA, SSR, SEO, Open Graph protocol</li>
    </ul>
  </section>
  <section class="flex flex:col gap:12">
    <h2 class="b:cyan-50@dark bb:2 f:20 f:bold">{t('education')}</h2>
    <div>
      <h3 class="flex f:18 f:bold">{t('degree')} <span class="fg:gray-50 font-weight:normal ml:auto whitespace:nowrap">2017 - 2021</span></h3>
      <p class="f:18">Universidad Peruana Unión — {t('limaPe')}</p>
    </div>
  </section>
  <section class="flex flex:col gap:12">
    <h2 class="b:cyan-50@dark bb:2 f:20 f:bold">{t('languages')}</h2>
    <ul class="f:cyan-50::marker list-style:disc pl:20">
      {(t('languagesList', { returnObjects: true }) as string[]).map(language => (
        <li>{language}</li>
      ))}
    </ul>
  </section>
</section>
