---
import { t } from 'i18next'
import ThemeToggler from './ThemeToggler.astro'
import LanguageSwitcher from './LanguageSwitcher.astro'
import Divider from './Divider.astro'
import AppIcon from './icons/App.astro'
import UserIcon from './icons/User.astro'
import BookmarkIcon from './icons/Bookmark.astro'

const navigation = [
  {
    name: t('projects'),
    href: 'projects',
    color: 'mimosa',
    icon: AppIcon
  },
  {
    name: t('aboutMe'),
    href: 'me',
    color: 'orchid',
    icon: UserIcon
  },
  {
    name: t('articles'),
    href: 'article',
    color: 'emerald',
    icon: BookmarkIcon
  }
]
---

<nav class="sticky bd:blur(8) bg:white/.2 bg:zinc/.3@dark top:0 w:full">
  <div class="flex flex:col gap:16 max-w:screen-sm mx:auto px:20 px:24@xs px:32@md py:16">
    <a href="#" class="flex ai:center gap:16">
      <div class='h:48 w:48'>
        <div class="transform:$(avatar-image-transform) transform:bottom|left">
          <img class='avatar round grayscale(1) h:full w:full' src="/img/profile.webp" alt="profile" />
        </div>
      </div>
      <div class="name flex f:semibold flex:col">
        <span class="f:18">Jhorman Ruswel</span>
        <span class="f:14 f:gray f:gray/.8@dark">Tito Tito</span>
      </div>
    </a>
    <div class="flex ai:center jc:space-between">
      <ul id="navigation" class="flex ai:center f:medium f:gray f:xs gap:8">
        {navigation.map(item => (
          <li>
            <a class={`shadow b:gray/.2 bg:gray/.2 bg:gray/.3:hover fg:gray text-decoration:gray`} href={`#${item.href}`}>
              <item.icon class="h:24" />
              <>{item.name}</>
            </a>
          </li>
        ))}
      </ul>
      <div class="flex ai:center gap:8">
        <ThemeToggler />
        <LanguageSwitcher />
      </div>
    </div>
  </div>
  <Divider />
</nav>

<script>
  const html = document.querySelector('html') as HTMLElement
  const navigation = document.getElementById('navigation')

  window.addEventListener('scroll', handleScrollEvents, { passive: true })
  window.addEventListener("resize", handleScrollEvents, { passive: true })

  function handleScrollEvents () {
    updateActiveNavigation()
  }

  function updateActiveNavigation () {
    const fragments = document.querySelectorAll('section[id]')
    const scrollPaddingTop = parseInt(window.getComputedStyle(html).scrollPaddingTop)
    const spaceBetween = 40

    fragments.forEach((fragment, i) => {
      const link = navigation?.getElementsByTagName('a')[i]
      const rect = fragment.getBoundingClientRect()
      if (rect.top <= scrollPaddingTop && rect.bottom > (scrollPaddingTop - spaceBetween)) {
        link?.classList.add('active')
      } else {
        link?.classList.remove('active')
      }
    })
  }
</script>

<style>
#navigation a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px;
  text-transform: capitalize;
  border-radius: 16px;
  border-bottom-width: 1px;
}
#navigation a.active {
  text-decoration-line: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
}
nav {
  animation: background-up linear both;
  animation-timeline: scroll();
  animation-range: 0 var(--nav-offset-top);
}
.avatar {
  animation: scale-down linear both;
  animation-timeline: scroll();
  animation-range: 0 var(--nav-offset-top);
}
.name {
  animation: color-up linear both;
  animation-timeline: scroll();
  animation-range: 100px var(--nav-offset-top);
}
</style>
