---
import { t } from 'i18next'
import { LanguageSelector } from 'astro-i18next/components'
import ThemeToggler from './ThemeToggler.astro'

const activeLink = (link: string) => Astro.url.pathname === link

const navigation = [
  {
    name: t('projects'),
    href: 'projects',
    color: 'emerald'
  },
  {
    name: t('aboutMe'),
    href: 'me',
    color: 'orchid'
  }
  // {
  //   name: t('articles'),
  //   href: '/blog',
  //   color: 'mimosa'
  // }
]

const colorVariants: Record<string, string> = {
  orchid: '[&.active]:text-[#AD5E99] [&.active]:bg-[#AD5E99]/10 decoration-[#AD5E99]',
  emerald: '[&.active]:text-[#009473] [&.active]:bg-[#009473]/10 decoration-[#009473]',
  mimosa: '[&.active]:text-mimosa [&.active]:bg-mimosa/10 decoration-mimosa'
}
---

<nav class="w-full max-w-screen-md sticky top-0 bg-white dark:bg-zinc z-20 px-2 py-4 sm:px-6 lg:px-8">
  <div class="relative flex items-center justify-between">
    <!-- <a class="text-black dark:text-white text-sm font-bold" href="#" aria-current={activeLink('/') ? 'page' : undefined}>
      <img class="w-9 h-9 rounded-full bg-gray dark:bg-neutral" src="/img/logo.png" alt="Logo" />
      Jhorman Rus
    </a> -->
    <ul id="navigation" class="flex items-center gap-2 text-gray dark:text-gray font-bold">
      {navigation.map(item => (
        <li>
          <a class={colorVariants[item.color]} href={`#${item.href}`}>
            <>{item.name}</>
          </a>
        </li>
      ))}
    </ul>
    <div class="flex items-center gap-2">
      <ThemeToggler />
      <LanguageSelector showFlag={false} />
    </div>
  </div>
</nav>

<script>
  window.addEventListener('scroll', function () {
    const navigation = document.getElementById('navigation')
    const fragments = document.querySelectorAll('section[id]')
    for (let i = 0; i < fragments.length; i++) {
      const fragment = fragments[i]
      const link = navigation.getElementsByTagName('a')[i]
      const rect = fragment.getBoundingClientRect()
      if (rect.top <= 0 && rect.bottom > 0) {
        link.classList.add('active')
      } else {
        link.classList.remove('active')
      }
    }
  })
</script>

<style>
  a {
    @apply flex items-center gap-2 p-3 rounded-xl;
  }
  a:hover {
    @apply hover:underline decoration-[3px];
  }
</style>
