<div class='
  flex ai:center gap:40 cursor:pointer r:22
  bg:gray-5 bg:gray-80@dark b:1 b:gray-70/.6@dark
  transition:box-shadow|100ms|ease-in shadow:0|0|0|$(highlight-size)|gray-95
  $highlight-size:0 $highlight-size:6px:not(:active):hover'>
  <slot />
</div>