---
import i18next from 'i18next'
import { HeadHrefLangs } from 'astro-i18next/components'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Navbar from '../components/Navbar.astro'
import '@fontsource-variable/onest'
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/svg/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Jhorman Tito - Web Developer</title>
    <link rel="icon" href="/svg/favicon.svg" />
    <link rel="canonical" href="https://qhar.in/" />
    <meta name="title" content="Jhorman Ruswel Tito Tito" />
    <meta name="description" content="Web Developer. Passionate about software development and I like to learn new things, solve problems and team work." />
    <meta name="author" content="Jhorman Ruswel Tito Tito" />
    <meta name="robots" content="index,follow" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Jhorman Ruswel Tito Tito" />
    <meta property="og:site_name" content="Jhorman Ruswel Tito Tito" />
    <meta property="og:description" content="Web Developer. Passionate about software development." />
    <meta property="og:url" content="https://qhar.in/" />
    <meta property="og:image" content="https://res.cloudinary.com/jhormanrus/image/upload/v1652742388/banner-dark.jpg" />
    <meta property="og:image:alt" content="photo of the author" />
    <meta property="og:locale" content="en" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://qhar.in/" />
    <meta name="twitter:title" content="Jhorman Ruswel Tito Tito" />
    <meta name="twitter:description" content="Web Developer. Passionate about software development." />
    <meta name="twitter:image" content="https://res.cloudinary.com/jhormanrus/image/upload/v1652742388/banner-dark.jpg" />
    <meta name="google-site-verification" content="qUjvbSPzhUnPdufHo-s4CYvp8GXwgVtTbpjJrGWLUjc" />
    <HeadHrefLangs />
    <link rel="stylesheet" href="/styles/theme-toggler.css" />
    <script>
      import { initCSSRuntime } from '@master/css-runtime'
      import config from '../../master.css'

      initCSSRuntime(config)
    </script>
  </head>
  <body class="flex rel ai:center bg:gray-5 bg:gray-95@dark flex:col min-h:100vh">
    <Header />
    <Navbar />
    <main class="flex flex-grow:1 flex:col gap:40 max-w:screen-2xs py:24">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
@import '@master/normal.css';

:root {
  --nav-offset-top: 362px;
}
html {
  font-family: 'Onest Variable', sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}
html.dark {
  color-scheme: dark;
}
@keyframes scale-down {
  from {
    scale: 3.7037; /* final size / initial size */
    transform-origin: top left;
    translate: 0 -305.55px;
  }
}
@keyframes opacity-down {
  to {
    opacity: 0;
  }
}
</style>
