---
import i18next from 'i18next'
import { HeadHrefLangs } from 'astro-i18next/components'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Navbar from '../components/Navbar.astro'
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Jhorman Ruswel Tito</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="canonical" href="https://jhormanrus.vercel.app/" />
    <meta name="title" content="Jhorman Ruswel Tito Tito" />
    <meta name="description" content="Web Developer. Passionate about software development and I like to learn new things, solve problems and team work." />
    <meta name="author" content="Jhorman Ruswel Tito Tito" />
    <meta name="robots" content="index,follow" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Jhorman Ruswel Tito Tito" />
    <meta property="og:site_name" content="Jhorman Ruswel Tito Tito" />
    <meta property="og:description" content="Web Developer. Passionate about software development." />
    <meta property="og:url" content="https://jhormanrus.vercel.app/" />
    <meta property="og:image" content="https://res.cloudinary.com/jhormanrus/image/upload/v1652742388/banner-dark.jpg" />
    <meta property="og:image:alt" content="photo of the author" />
    <meta property="og:locale" content="en" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://jhormanrus.vercel.app/" />
    <meta name="twitter:title" content="Jhorman Ruswel Tito Tito" />
    <meta name="twitter:description" content="Web Developer. Passionate about software development." />
    <meta name="twitter:image" content="https://res.cloudinary.com/jhormanrus/image/upload/v1652742388/banner-dark.jpg" />
    <meta name="google-site-verification" content="qUjvbSPzhUnPdufHo-s4CYvp8GXwgVtTbpjJrGWLUjc" />
    <HeadHrefLangs />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/theme-toggles@4.10.1/css/simple.min.css">
  </head>
  <body class="flex flex-col items-center min-h-screen dark:text-white dark:bg-zinc">
    <Header />
    <Navbar />
    <main class="max-w-screen-md space-y-10 flex-grow p-2 sm:p-6 lg:p-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
  @font-face {
    font-family: 'BabyBlooming';
    src: url('/fonts/BabyBlooming.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  html {
    font-family: 'Karla', cursive;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }
  h1 {
    font-family: 'BabyBlooming', sans-serif;
  }
</style>
